body {
  background-image: url("./backgrounds/3AiL3yN.png");
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px solid rgb(94, 93, 93);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(94, 93, 93);
  cursor: url('./cursors/crosshair.cur'), default;
}

.toolbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 17px;
}
.color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid black;
  align-self: center;
  margin: 0 15px;
}

.button {
  align-self: center;
  height: 40px;
  width: 95px;
  border: 2px solid black;
  border-radius: 15pt;
  background-color: #ffffffcb;
  font-weight: bold;
  margin: 0 15px;
}
.button_special{
  align-self: center;
  height: 40px;
  width: 50px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #ffffffcb;
  font-weight: bold;
  margin: 0 15px;
}

.color-picker {
  align-self: center;
  margin: 0 15px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 15px;
}

.button#preview_cursor_list{
  text-align-last: center;
  width: 150px;
}
.button#resetB{
  width:60px;
  height: 60px;
  border-radius: 50%;
}
